{% extends "layout.twig" %}
{% block content %}
    <p>Bonjour {{ currentSession.login }} !</p>
    <p>Il y a actuellement, {{ nombreUsers }} utilisateurs, {{ nombreNews }} posts et {{ nombreComments }} commentaires.</p>
{% endblock %}