<div class="comment-form">
    <h4>Ajoutez votre commentaire</h4>
    <form action="{{ basePath }}/insertComment/{{ news.id }}" method="post">
                            
    <div class="form-group">
        <textarea class="form-control mb-10" rows="5" name="comment" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
    </div>
        <button type="submit" class="primary-btn primary_btn"><span>Poster</span></button>
    </form>
</div>