<form action="{{ basePath }}/insertComment/{{ news.id }}" method="post">
  <div>
    <label for="comment">Ajoutez votre commentaire</label>
    <br />
    <textarea id="comment" name="comment"></textarea>
  </div>
  <div>
    <input type="submit" value="Ajouter">
  </div>
</form>