  {% if comments %}
    <div class="comments-area">
        <h4>Commentaires</h4>
        {% for comment in comments %}
          
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="{{ basePath }}/Public/img/avatar.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">{{ comment.login|e }}</a></h5>
                                        <p class="date">{{ comment.date|date("d/m/Y à H\\hi")}}</p>
                                        <p class="comment">{{ comment.contenu|e }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
        {% endfor %}
        </div>
  {% else %}
    <p>Aucun commentaire n'a encore été posté. Soyez le premier à en laisser un !</p>
  {% endif %}