a.navbar-brand > img,
div.f_logo > img{
  height: 54px;
  width: 60px;
}

div.thumb > img,
.logo-img {
  height: 60px;
  width: 60px;
}

.home-title-area {
  padding: 100px 0 0 0;
}

.banner-area .slide_bg1 {
  background: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flashMessage {
  margin-top: 50px;
}

.header-button,
.account-wrap {
  margin-left: auto;
}

div.overview-wrap {
  margin-bottom: 1em;
}

.table thead th {
  padding-left: 40px;
}