a.navbar-brand > img,
div.f_logo > img{
  height: 54px;
  width: 60px;
}

div.thumb > img {
  height: 60px;
  width: 60px;
}

.home-title-area {
  padding: 100px 0 0 0;
}

.banner-area .slide_bg1 {
  background: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flashMessage {
  margin-top: 50px;
}