<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-{{ flash.type }} flashMessage" role="alert">
                {{ flash.message }}
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>