{% extends "layout.twig" %}
{% block content %}
    <section class="sample-text-area">
		<div class="container">
			<h3 class="text-heading title_color">404 not found</h3>
			<p class="sample-text">La page que vous cherchez n'existe pas.</p>
		</div>
	</section>
{% endblock %}
