<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ basePath }}/Public/css/style.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.twig' %}
    <h1>{{ title }}</h1>
    <p>{{ flash.message }}</p>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>